footer{
	display: flex;
	flex-direction: column;
	background-image: url(../Pictures/FooterPicture.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	font-family: 'Oregano';
	margin-top: 5%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerWrapper{
	background-color: rgba(217, 217, 217, 0.50);
	width: 80%;
	height: fit-content;
	backdrop-filter: blur(5px);
	border-radius: 20px;
    box-shadow: 0 4px 100px 1px rgb(0 0 0 / 31%);
}

.footerWrapperText{
	text-align: center;
	font-size: 35px;
	padding: 90px;
	padding-left: 22%;
	padding-right: 22%;
	padding-bottom: 5%;
	color: black;
	backdrop-filter: blur(30px);
}

.creatorsPictures {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    z-index: 1000;
    top: 30%;
}

.Oualid{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	opacity: .9;
	box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 3);
}

.Asmaa{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	opacity: .9;
	box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 3);
}

.AsmaaIcons{
	position: absolute;
	display: flex;
	align-self: flex-end;
	align-items: flex-start;
	flex-direction: column;
    top: 100%;
	z-index: 3000;
}

.AsmaaIcons svg:hover{
	transform: scale(1.5);
}

.AsmaaIcons svg{
	opacity: .7;
}

.icon-facebook{
	margin-left: -6.5px;
}

.OualidIcons{
	position: relative;
	display: flex;
    top: -70%;
    left: 36%;
}

.OualidIcons svg{
	opacity: .7;
}

.AsmaaIcons .icon-github:hover path {
    fill: #4B0082;
}

.AsmaaIcons .icon-linkedin:hover path {
    fill: #0e76a8;
}

/*Tweeter doesn't work.*/
.AsmaaIcons .icon-twitter:hover path {
    fill: #1da1f2;
}

.AsmaaIcons .icon-instagram:hover path {
    fill: #c13584;
}


.OualidIcons .icon-instagram:hover path {
    fill: #c13584;
}

.OualidIcons .icon-github:hover path {
    fill: #4B0082;
}

.OualidIcons .icon-linkedin:hover path {
    fill: #0e76a8;
}

/*Tweeter doesn't work.*/
.OualidIcons .icon-twitter:hover path {
    fill: #1da1f2;
}

.OualidIcons .icon-instagramO:hover path {
    fill: #c13584;
}

.OualidIcons svg:hover{
	transform: scale(1.5);
}
