<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/Style/Header.css">
	<link rel="stylesheet" href="/Style/Recipes.css">
	<link rel="stylesheet" href="/Style/Footer.css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Kolker Brush' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Oregano' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Orelega One' rel='stylesheet'>
	<title>YummyHelp</title>
</head>
<body>
	<header class="HeaderWrap">
		<nav class="HeaderNav">
			<ul class="HeaderUl">
				<li class="HeaderBrand"><a href="header.html">YummyHelp</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Home.html">Home</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Home.html#Features">Features</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Home.html#About">About</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Recipes.html">Recipes</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Home.html">Login</a></li>
				<li class="HeaderElement"><img alt="HeaderImage" src="/Pictures/HeaderElementCompanion.png"><a href="Home.html">Signup</a></li>
			</ul>
		</nav>
		<div class="ScrollButton">
			<img src="/Pictures/ScrollDownIcon.png">
		</div>
	</header>

	<section class="MenuSection">
		<h3 class="HeaderIntroWrapTitle">CHOSE YOUR MENU</h3>
		<div class="MenuSectionBoxes">
			<div class="MenuSectionBoxesItem" data-id="Breakfast">
				<div class="MenuSectionBoxesWrap">
					<p>Breakfast Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Breakfast.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Chicken">
				<div class="MenuSectionBoxesWrap">
					<p>Chicken Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Chicken.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="">
				<div class="MenuSectionBoxesWrap">
					<p>Dessert Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Dessert.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Goat">
				<div class="MenuSectionBoxesWrap">
					<p>Goat Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Goat.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Lamp">
				<div class="MenuSectionBoxesWrap">
					<p>Lamp Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Lamp.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Pasta">
				<div class="MenuSectionBoxesWrap">
					<p>Pasta Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Pasta.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Seafood">
				<div class="MenuSectionBoxesWrap">
					<p>Seafood Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Seafood.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Side">
				<div class="MenuSectionBoxesWrap">
					<p>Side Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Side.jpg">
			</div>
			<div class="MenuSectionBoxesItem" data-id="Starter">
				<div class="MenuSectionBoxesWrap">
					<p>Starter Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Starter.jpg">
			</div>
			<div class="MenuSectionBoxes_Item" data-id="Vegan">
				<div class="MenuSectionBoxesWrap">
					<p>Vegan Recipes</p>
				</div>
				<img src="/Pictures/MenuSectionPictures/Vegan.jpg">
			</div>
		</div>

		<div class="PopupContainer" style="display: none;">
			<div class="PopupContent">
				<div class="RecipeDetails"></div>
			</div>
		</div>
	</section>

	<footer>
		<div class="footerContent">
			<div class="groupFooter">
				<div class="makerPicture">
					<img src="/Pictures/PictureMaker1.jpg" class="PictureMaker1">
					<img src="/Pictures/PictureMaker2.jpg" class="PictureMaker2">
				</div>
				<div class="social-icons_oualid">
					<a href="https://x.com/walid_elhadim" class="icon-twitter_oualid"><i class="fab fa-twitter"></i></a>
					<a href="https://github.com/OUALIID" class="icon-github_oualid"><i class="fab fa-github"></i></a>
					<a href="https://www.instagram.com/oualid_elhadim" class="icon-instagram_oualid"><i class="fab fa-instagram"></i></a>
					<a href="https://www.linkedin.com/in/walid-elhadim-752a04268" class="icon-linkedin_oualid"><i class="fab fa-linkedin"></i></a>
					<a href="mailto:walidelhadim8@gmail.com" class="icon-email_oualid"><i class="fas fa-envelope"></i></a>
				</div>
			</div>
			<div class="square-container">
				<p>Made with love and an amazing collaboration. This is our final foundation project
					within ALX. Much appreciation for the ALX community.</p>
			</div>
			<div class="social-icons_asmaa">
				<a href="mailto:asmaehadar32@gmail.com" class="icon-email_asmaa"><i class="fas fa-envelope"></i></a>
				<a href="https://www.linkedin.com/in/asmaa-hadar-928b121a3" class="icon-linkedin_asmaa"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.instagram.com/asmaahadar2" class="icon-instagram_asmaa"><i class="fab fa-instagram"></i></a>
				<a href="https://github.com/H-Asmaa" class="icon-github_asmaa"><i class="fab fa-github"></i></a>
				<a href="https://x.com/HadarAsmaa" class="icon-twitter_asmaa"><i class="fab fa-twitter"></i></a>
			</div>
	  	</div>
	</footer>
	<script src="/Script/Header.js"></script>
	<script src="/Script/Home.js"></script>
	<script src="/Script/Recipes.js"></script>
</body>
